- expose_sast_data = @pipeline.expose_sast_data?
- expose_dependency_data = @pipeline.expose_dependency_scanning_data?
- expose_dast_data = @pipeline.expose_dast_data?
- expose_sast_container_data = @pipeline.expose_sast_container_data?
- expose_container_scanning_data = @pipeline.expose_container_scanning_data?
- blob_path = project_blob_path(@project, @pipeline.sha)

.tabs-holder
  %ul.pipelines-tabs.nav-links.no-top.no-bottom.mobile-separator.nav.nav-tabs
    %li.js-pipeline-tab-link
      = link_to project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-pipeline', action: 'pipelines', toggle: 'tab' }, class: 'pipeline-tab' do
        = _("Pipeline")
    %li.js-builds-tab-link
      = link_to builds_project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-builds', action: 'builds', toggle: 'tab' }, class: 'builds-tab' do
        = _("Jobs")
        %span.badge.badge-pill.js-builds-counter= pipeline.total_size
    - if @pipeline.failed_builds.present?
      %li.js-failures-tab-link
        = link_to failures_project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-failures', action: 'failures', toggle: 'tab' }, class: 'failures-tab' do
          = _("Failed Jobs")
          %span.badge.badge-pill.js-failures-counter= @pipeline.failed_builds.count
    - if expose_sast_data || expose_dependency_data
      %li.js-security-tab-link
        = link_to security_project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-security', action: 'security', toggle: 'tab' }, class: 'security-tab' do
          = _("Security report")
          %span.badge.badge-pill.js-sast-counter.hidden

.tab-content
  #js-tab-pipeline.tab-pane
    #js-pipeline-graph-vue

  #js-tab-builds.tab-pane
    - if pipeline.yaml_errors.present?
      .bs-callout.bs-callout-danger
        %h4 Found errors in your .gitlab-ci.yml:
        %ul
          - pipeline.yaml_errors.split(",").each do |error|
            %li= error
        You can also test your .gitlab-ci.yml in the #{link_to "Lint", project_ci_lint_path(@project)}

    - if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
      .bs-callout.bs-callout-warning
        \.gitlab-ci.yml not found in this commit

    .table-holder.pipeline-holder
      %table.table.ci-table.pipeline
        %thead
          %tr
            %th Status
            %th Job ID
            %th Name
            %th
            %th Coverage
            %th
        = render partial: "projects/stage/stage", collection: pipeline.legacy_stages, as: :stage

  - if @pipeline.failed_builds.present?
    #js-tab-failures.build-failures.tab-pane.build-page
      %table.table.responsive-table.ci-table.responsive-table-sm-rounded
        %thead
          %th.table-th-transparent
          %th.table-th-transparent= _("Name")
          %th.table-th-transparent= _("Stage")
          %th.table-th-transparent= _("Failure")

        %tbody
          - @pipeline.failed_builds.each_with_index do |build, index|
            - job = build.present(current_user: current_user)
            %tr.build-state.responsive-table-border-start
              %td.responsive-table-cell.ci-status-icon-failed{ data: { column: "Status"} }
                .d-none.d-md-block.build-icon
                  = custom_icon("icon_status_#{build.status}")
                .d-md-none.build-badge
                  = render "ci/status/badge", link: false, status: job.detailed_status(current_user)
              %td.responsive-table-cell.build-name{ data: { column: _("Name")} }
                = link_to build.name, pipeline_job_url(pipeline, build)
              %td.responsive-table-cell.build-stage{ data: { column: _("Stage")} }
                = build.stage.titleize
              %td.responsive-table-cell.build-failure{ data: { column: _("Failure")} }
                = build.present.callout_failure_message
              %td.responsive-table-cell.build-actions
                = link_to retry_project_job_path(build.project, build, return_to: request.original_url), method: :post, title: _('Retry'), class: 'btn btn-build' do
                  = icon('repeat')
            %tr.build-trace-row.responsive-table-border-end
              %td
              %td.responsive-table-cell.build-trace-container{ colspan: 4 }
                %pre.build-trace.build-trace-rounded
                  %code.bash.js-build-output
                    = build_summary(build)
  - if expose_sast_data || expose_dependency_data || expose_dast_data || expose_sast_container_data || expose_container_scanning_data
    #js-tab-security.build-security.tab-pane
      #js-security-report-app{ data: { endpoint: expose_sast_data ? sast_artifact_url(@pipeline) : nil,
      blob_path: blob_path,
      dependency_scanning_endpoint: expose_dependency_data ? dependency_scanning_artifact_url(@pipeline) : nil,
      dast_endpoint: expose_dast_data ? dast_artifact_url(@pipeline) : nil,
      sast_container_endpoint: expose_sast_container_data ? sast_container_artifact_url(@pipeline) : (expose_container_scanning_data ? container_scanning_artifact_url(@pipeline) : nil),
      pipeline_id: @pipeline.id,
      vulnerability_feedback_path: project_vulnerability_feedback_index_path(@project),
      vulnerability_feedback_help_path: help_page_path("user/project/merge_requests/index", anchor: "interacting-with-security-reports-ultimate"),
      sast_help_path: help_page_path('user/project/merge_requests/sast'),
      dependency_scanning_help_path: help_page_path('user/project/merge_requests/dependency_scanning'),
      dast_help_path: help_page_path('user/project/merge_requests/dast'),
      sast_container_help_path: help_page_path('user/project/merge_requests/sast_container'),
      can_create_feedback: can?(current_user, :admin_vulnerability_feedback, @project),
      can_create_issue: show_new_issue_link?(@project)} }
